@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-toggle ~ .drawer-side > .drawer-overlay + * {
  --tw-translate-x: 100%;
}

.card-body {
  padding: var(--padding-card);
}

.input-ghost {
  --tw-bg-opacity: 0.3;
}
